<div class="well">

<div class="jumbotron">
  
    <h1 class="text-center">Welcome to the Skill Inventory</h1>

    <ul>
      <li class="text-center"><h2><a href="/skills">Skill Index</a></h2></li>
      <li class="text-center"><h2><a href="/skills/new">New Skill</a></h2></li>
    </ul>
  </div>
</div>
