<form action="/skills/<%= @skill.id %>" method="post">
  <input type="hidden" name="_method" value="put">  <!-- override original verb-->
  <input type="text" name="skill[title]" value="<%= @skill.title %>"> <!--name of any form builds the param behind the scenes-->
  <textarea name="skill[description]"> <%= @skill.description %></textarea><br>
  <input type="submit">
</form>
