<div class="well">
<div class='col-md-12 navbar navbar-default'>
  <a href='/skills' class='navbar-brand'>My Skills</a>
  <ul class='nav navbar-nav navbar-right'>
    <li><a href="/skills/new">New Skill</a></li>
    <li><a href = "/">Home</a></li>
  </ul>
</div>


<form action="/skills" method="post">
  <p>Enter a new skill:</p>
  <input type='text' name='skill[title]'/><br/>
  <textarea name='skill[description]'></textarea><br/>
  <input class="btn btn-primary" type='submit' value="Submit"/>
</form>
