<nav class="navbar navbar-default col-md-12 navbar-static-top">
  <div class="navbar-brand"><%= @skill.title %></div>
    <ul class="nav navbar-nav navbar-right">
    <li><a href="/skills">Skill Index</a></li>
  </ul>
</nav>
<div class="container"
    <p><%= @skill.description %></p>
</div>
